<!DOCTYPE html>
<html style="margin:20px;">

<head>
    <title>Pet Dashboard</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

</head>

<body>

    <h4>Name:
        <%= pet.name %>
    </h4>
    <h4>Color:
        <%= pet.color %>
    </h4>
    <h4>Age:
        <%= pet.age %>
    </h4>
    <form action="/<%= pet.id %>/destroy" method="post" style='display: inline-block;'>
        <button style="margin-top: 30px;" class="btn btn-default">Delete Pet</button>
    </form>
    <form action="/<%= pet.id %>/edit" method="post" style='display: inline-block;'>
        <button style="margin-top: 30px;" class="btn btn-default">Edit Pet</button>
    </form>
    <form action="/" method="get" style='display: inline-block;'>
        <button style="margin-top: 30px;" class="btn btn-default">Back to Dashboard</button>
    </form>
</body>

</html>